<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("./partials/head.ejs") %>
</head>
<body>

    <!-- Navigation -->
    <%- include("./partials/nav.ejs") %>
    
    <!-- All Blogs -->
    <div>
        <h2>All Blogs</h2>
        <% if(blogs.length > 0) { %>
            <% blogs.forEach(element => { %>
                <div>
                    <h3><%= element.title %></h3>
                    <p><%= element.snippet %></p>
                </div>
            <% }); %>
        <% } else { %>
            <p>No Blogs Yet</p>
        <% } %>
    </div>

</body>
</html>